<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect canonical: de la www la domeniul principal (301)
    RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
    RewriteCond %{HTTPS} on
    RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

    RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
    RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
